---
const { platform, username } = Astro.props;
---

<ul class="c-social">
  <li class="c-list__item"><a href={`https://www.${platform}.com/${username}`}>{platform}</a></li>
  <li class="c-list__item"><a href={`https://www.${platform}.com/${username}`}>{platform}</a></li>
</ul>
